---
title: Release Notes for Pivotal Spring Cloud Services
owner: Spring Cloud Services
---

<html class="list-style-none"></html>

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

Release notes for [Pivotal Spring Cloud Services](https://network.pivotal.io/products/p-spring-cloud-services)

## <a id="3-1-5"></a>3.1.5

**Release Date: 22nd January 2020**

* Further improved fix for rotating Certificate Authorities while maintaining certificate uniqueness in errand JVM truststore.

## <a id="3-1-4"></a>3.1.4

**Release Date: 15th January 2020**

* A `periodic` parameter added to Config Server service instance configuration updates Git repository mirrors on the Config Server's mirror service every five minutes.
* Added tile configuration for the timeout used for pushing backing apps for a service instance.
* Fixed an issue that could cause a server error to appear on the Config Server dashboard when using the HashiCorp Vault backend.
* Fixed use of the default label configured per Config Server Git repository for client app property requests.

## <a id="3-1-3"></a>3.1.3

**Release Date: 25th November 2019**

* Fixed issue when rotating Certificate Authorities while maintaining certificate uniqueness in errand JVM truststore.

## <a id="3-1-2"></a>3.1.2

**Release Date: 14th November 2019**

* Fixed CredHub bootstrapper errand so that it can update client credential permissions when re-running after tile install failure.

## <a id="3-1-1"></a>3.1.1

**Release Date: 28th October 2019**

* Resolved issue with accessing service instance dashboard when Pivotal Application Service (PAS) tile is configured with "Authentication and Enterprise SSO" as SAML.

## <a id="3-1-0"></a>v3.1.0

**Release Date: 7th October 2019**

Enhancements included in this release:

* The Spring Cloud Services broker has been upgraded to Spring Boot 2.1.8.RELEASE and Spring Cloud Greenwich.SR3.
* Service Registry service has been added back with a new name: `p.service-registry`.
* The existing Service Registry configuration options have not changed although there is now a new option named `peer-timeout` that can be set in milliseconds. This can alleviate issues with peer replication timing out when there is higher latency in the network between peers.
* There is now a process for doing backup and restore of Spring Cloud Services stateful resources.

Important items to note:

* Spring Cloud Services v3.1.0 does not include Circuit Breaker Dashboard services. To use these services, you can install Spring Cloud Services v2.0.x alongside v3.1.0.
    <p class="warning"><strong>Warning</strong>: You cannot upgrade to Ops Manager v2.7 if you are running Spring Cloud Services v2.0.x.</p>
* The Circuit Breaker Dashboard service will not return, as the underlying Netflix OSS Hystrix Dashboard project has been deprecated.

