---
title: Release Notes for Spring Cloud Services for VMware Tanzu
owner: Spring Cloud Services
---

<html class="list-style-none"></html>

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

Release notes for [Spring Cloud Services for VMware Tanzu](https://network.pivotal.io/products/p-spring-cloud-services) (SCS)

## <a id="2-1-0-migrating-from-1-5-x"></a>Migrating from 1.5.x

For each client app, you must:

* Update the build file to use the new versions of the Spring Cloud Services client dependencies (see [Client Dependencies](./common/client-dependencies.html))

## <a id="2-1-2"></a>2.1.2

**Release Date: 13th March 2020**

Fixes included in this release:

* The service broker and service broker worker apps are now deployed using the custom Java buildpack specified in the tile configuration, if one has been provided.
* The service broker worker app now uses the custom domain specified in the tile configuration, if one has been provided.

## <a id="2-1-1"></a>2.1.1

**Release Date: 27th November 2019**

Enhancements included in this release:

* Added `peer-timeout` configuration for Service Registry peer replication.

## <a id="2-1-0"></a>2.1.0

**Release Date: 30th October 2019**

Enhancements included in this release:

* Spring Cloud Services is now compatible with VMware Tanzu Application Service for VMs versions 2.6 and later.
