<a id="product-snapshot"></a>
## Product Snapshot

| Element                                            | Details                                          |
|----------------------------------------------------|--------------------------------------------------|
| Version                                            | 2.0.6                                            |
| Release Date                                       | 15 February 2019                                 |
| Software Component Version                         | Spring Cloud Finchley.SR2                        |
| Compatible MySQL for PCF Version                   | 2.0.x+                                           |
| Compatible RabbitMQ for PCF Version                | 1.10.0+                                          |
| Compatible Ops Manager Version(s)                  | 2.6.x and later |
| Compatible Pivotal Application Service Version(s)  | 2.6.x and later                                  |
| Supported IaaS                                     | All supported by PCF                             |
