<a id="product-snapshot"></a>
## Product Snapshot

| Element                                                               | Details                                          |
|-----------------------------------------------------------------------|--------------------------------------------------|
| Version                                                               | 2.1.1                                            |
| Release Date                                                          | 27 November 2019                                 |
| Software Component Version                                            | Spring Cloud Finchley.SR2                        |
| Compatible MySQL for VMware Tanzu Version                             | 2.5.x and later                                  |
| Compatible RabbitMQ for VMware Tanzu Version                          | 1.6.0 and later                                  |
| Compatible Ops Manager Version(s)                                     | 2.6.x and later                                  |
| Compatible VMware Tanzu Application Service for VMs (TAS) Version(s)  | 2.6.x and later                                  |
| Supported IaaS                                                        | All supported by TAS                             |
