<a id="product-snapshot"></a>
## Product Snapshot

| Element                                            | Details                    |
|----------------------------------------------------|----------------------------|
| Version                                            | 3.1.0                      |
| Release Date                                       | 7 October 2019             |
| Software Component Version                         | Spring Cloud Greenwich.SR3 |
| Compatible Ops Manager Version(s)                  | 2.4.x and later            |
| Compatible Pivotal Application Service Version(s)  | 2.4.x and later            |
| Supported IaaS                                     | All supported by PCF       |
