<a id="product-snapshot"></a>
## Product Snapshot

| Element                                                              | Details                    |
|----------------------------------------------------------------------|----------------------------|
| Version                                                              | 3.0.11                     |
| Release Date                                                         | 22 January 2020            |
| Software Component Version                                           | Spring Cloud Greenwich.SR1 |
| Compatible Ops Manager Version(s)                                    | 2.4.x and later            |
| Compatible VMware Tanzu Application Service for VMs (TAS) Version(s) | 2.4.x and later            |
| Supported IaaS                                                       | All supported by TAS       |
